# --- GitHub configuration ---
.github/*                             @Health-Education-England/trainee

# --- Source code ---
.src/*                                @Health-Education-England/trainee

# --- Root-level files ---
.editorconfig                         @Health-Education-England/trainee
.gitattributes                        @Health-Education-England/trainee
.gitignore                            @Health-Education-England/trainee
docker-compose.yml                    @Health-Education-England/trainee
LICENSE                               @Health-Education-England/trainee
package.json                          @Health-Education-England/trainee
README.md                             @Health-Education-England/trainee
webpack.config.js                     @Health-Education-England/trainee

