openapi: 3.0.3
info:
  title: TIS Self-Service API Endpoints
  license:
    name: MIT
    url: https://opensource.org/license/MIT
  version: 0.0.1
servers:
  - url: https://trainee.tis.nhs.uk/api
    description: TIS Self-Service

paths:
  /trainee/cct-calculation:
    get:
      summary: Return all CCT Calculations for the authenticated user.
      operationId: getCctCalculations
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cctCalculationSummary"
    post:
      summary: Save a new CCT Calculation.
      operationId: createCctCalculation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cctCalculationDetail"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
  /trainee/cct-calculation/{calculationId}:
    get:
      summary: Return the CCT Calculation with the given ID.
      operationId: getCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
    put:
      summary: Update an existing CCT calculation.
      operationId: updateCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cctCalculationDetail"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"

components:
  schemas:
    cctCalculationSummary:
      type: object
      readOnly: true
      required:
        - name
        - programmeMembershipId
      properties:
        id:
          type: string
          format: uuid
          example: "fc13458c-5b0b-442f-8907-6f9af8fc0ffb"
          readOnly: true
        name:
          description: A custom name for the calculation to aid identification.
          type: string
          example: "Parental leave + reduced hours"
        programmeMembershipId:
          type: string
          format: uuid
          example: "2861fb68-6c08-4af5-a3a1-6f561a37b406"
    cctCalculationDetail:
      type: object
      required:
        - name
        - programmeMembership
        - changes
      properties:
        id:
          type: string
          format: uuid
          example: "fc13458c-5b0b-442f-8907-6f9af8fc0ffb"
          readOnly: true
        name:
          description: A custom name for the calculation to aid identification.
          type: string
          example: "Parental leave + reduced hours"
        programmeMembership:
          $ref: "#/components/schemas/programmeMembership"
        changes:
          type: array
          items: {
            $ref: "#/components/schemas/cctChange"
          }
    cctChange:
      type: object
      required:
        - type
        - startDate
      properties:
        type:
          type: string
          enum:
            - LTFT
            - PARENTAL_LEAVE
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
    programmeMembership:
      type: object
      required:
        - id
        - name
        - startDate
        - endDate
        - wte
      properties:
        id:
          type: string
          format: uuid
          example: "2861fb68-6c08-4af5-a3a1-6f561a37b406"
        name:
          type: string
          example: "General Practice"
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
