openapi: 3.0.3
info:
  title: TIS Self-Service API Endpoints
  license:
    name: MIT
    url: https://opensource.org/license/MIT
  version: 0.0.1
servers:
  - url: https://trainee.tis.nhs.uk/api
    description: TIS Self-Service

paths:
  /trainee/cct/calculate:
    post:
      summary: Return the CCT Calculation with the CCT date calculated.
      operationId: getCctCalculated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cctCalculationDetail"
        required: true
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
        400:
          description: CCT cannot be calculated
  /trainee/cct/calculation:
    get:
      summary: Return all CCT Calculations for the authenticated user.
      operationId: getCctCalculations
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cctCalculationSummary"
        403:
          description: Unknown trainee ID
    post:
      summary: Save a new CCT Calculation.
      operationId: createCctCalculation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cctCalculationDetail"
        required: true
      responses:
        201:
          description: Created
          headers:
            location:
              description: The location of the created calculation
              schema:
                type: string
                format: uri
                example: /api/trainee/cct/calculation/1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
        400:
          description: Calculation invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/validationError"
                  - properties:
                      instance:
                        example: /api/trainee/cct/calculator
                      errors:
                        items:
                          properties:
                            pointer:
                              example: "#/id"
                            detail:
                              example: "must be null"
        403:
          description: Unknown trainee ID
  /trainee/cct/calculation/{calculationId}:
    get:
      summary: Return the CCT Calculation with the given ID.
      operationId: getCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
        403:
          description: Unknown trainee ID, or requested calculation does not belong to the user
        404:
          description: Calculation not found with matching ID
    put:
      summary: Update an existing CCT calculation.
      operationId: updateCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cctCalculationDetail"
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cctCalculationDetail"
        400:
          description: Calculation invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/validationError"
                  - properties:
                      instance:
                        example: /api/trainee/cct/calculator
                      errors:
                        items:
                          properties:
                            pointer:
                              example: "#/name"
                            detail:
                              example: "must not be null"
        403:
          description: Unknown trainee ID

components:
  schemas:
    cctCalculationSummary:
      type: object
      readOnly: true
      required:
        - name
        - programmeMembershipId
      properties:
        id:
          type: string
          format: uuid
          example: "fc13458c-5b0b-442f-8907-6f9af8fc0ffb"
          readOnly: true
        name:
          description: A custom name for the calculation to aid identification.
          type: string
          example: "Parental leave + reduced hours"
        programmeMembershipId:
          type: string
          format: uuid
          example: "2861fb68-6c08-4af5-a3a1-6f561a37b406"
        created:
          type: string
          format: date
          readOnly: true
        lastModified:
          type: string
          format: date
          readOnly: true
    cctCalculationDetail:
      type: object
      required:
        - name
        - programmeMembership
        - changes
      properties:
        id:
          type: string
          format: uuid
          example: "fc13458c-5b0b-442f-8907-6f9af8fc0ffb"
          readOnly: true
        name:
          description: A custom name for the calculation to aid identification.
          type: string
          example: "Parental leave + reduced hours"
        cctDate:
          description: Indicative CCT date
          type: string
          format: date
          readOnly: true
        programmeMembership:
          $ref: "#/components/schemas/programmeMembership"
        changes:
          type: array
          items: {
            $ref: "#/components/schemas/cctChange"
          }
        created:
          type: string
          format: date
          readOnly: true
        lastModified:
          type: string
          format: date
          readOnly: true
    cctChange:
      type: object
      required:
        - type
        - startDate
      properties:
        type:
          type: string
          enum:
            - LTFT
            - PARENTAL_LEAVE
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
          minimum: 0
          maximum: 1
    programmeMembership:
      type: object
      required:
        - id
        - name
        - startDate
        - endDate
        - wte
      properties:
        id:
          type: string
          format: uuid
          example: "2861fb68-6c08-4af5-a3a1-6f561a37b406"
        name:
          type: string
          example: "General Practice"
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
          minimum: 0
          maximum: 1
    validationError:
      type: object
      readOnly: true
      properties:
        type:
          type: string
          example: "about:blank"
        title:
          type: string
          example: "Validation failure"
        status:
          type: integer
          example: 400
        instance:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              pointer:
                type: string
              detail:
                type: string

