openapi: 3.0.3
info:
  title: TIS Self-Service API Endpoints
  license:
    name: MIT
    url: https://opensource.org/license/MIT
  version: 0.0.1
servers:
  - url: https://trainee.tis.nhs.uk/api
    description: TIS Self-Service
security:
  - bearerAuth: []
paths:
  /forms/ltft:
    get:
      summary: Return all LTFT applications for the authenticated user.
      operationId: getLtftApplications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LtftApplicationSummary'
        '403':
          description: Unknown trainee ID
    post:
      summary: Save a new LTFT application.
      operationId: createLtftApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LtftApplicationDetail'
        required: true
      responses:
        '201':
          description: Created
          headers:
            location:
              description: The location of the created LTFT application
              schema:
                type: string
                format: uri
                example: /api/trainee/ltft/1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtftApplicationDetail'
        '400':
          description: LTFT invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/ltft
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/id'
                            detail:
                              example: must be null
        '403':
          description: Unknown trainee ID
  /forms/ltft/{formId}:
    get:
      summary: Return the LTFT application with the given ID.
      operationId: getLtftApplication
      parameters:
        - name: formId
          description: The ID of the LTFT application
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtftApplicationDetail'
        '403':
          description: Unknown trainee ID, or requested LTFT application does not belong to the user
        '404':
          description: LTFT application not found with matching ID
    put:
      summary: Update an existing LTFT application.
      operationId: updateLtftApplication
      parameters:
        - name: formId
          description: The ID of the LTFT application
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LtftApplicationDetail'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtftApplicationDetail'
        '400':
          description: LTFT application invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/ltft
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/name'
                            detail:
                              example: must not be null
        '403':
          description: Unknown trainee ID
  /forms/ltft/{formId}/submit:
    put:
      summary: Update and submit an existing LTFT application.
      operationId: submitLtftApplication
      parameters:
        - name: formId
          description: The ID of the LTFT application
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LtftApplicationDetail'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/LtftApplicationDetail'
                  - properties:
                      status:
                        properties:
                          current:
                            example: SUBMITTED
        '400':
          description: LTFT application invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/ltft
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/name'
                            detail:
                              example: must not be null
        '403':
          description: Unknown trainee ID
        '404':
          description: LTFT application not found with matching ID, or requested LTFT application does not belong to the user
  /forms/ltft/{formId}/unsubmit:
    put:
      summary: Unsubmit an existing submitted LTFT application.
      operationId: unsubmitLtftApplication
      parameters:
        - name: formId
          description: The ID of the LTFT application
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/LtftApplicationDetail'
                  - properties:
                      status:
                        properties:
                          current:
                            example: UNSUBMITTED
        '400':
          description: LTFT unsubmission invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/ltft
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/status'
                            detail:
                              example: must be Submitted
        '403':
          description: Unknown trainee ID
        '404':
          description: LTFT application not found with matching ID, or requested LTFT application does not belong to the user
  /forms/ltft/{formId}/withdraw:
    put:
      summary: Withdraw an existing submitted LTFT application.
      operationId: withdrawLtftApplication
      parameters:
        - name: formId
          description: The ID of the LTFT application
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/LtftApplicationDetail'
                  - properties:
                      status:
                        properties:
                          current:
                            example: WITHDRAWN
        '400':
          description: LTFT withdrawl invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/ltft
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/status'
                            detail:
                              example: must be Submitted or Unsubmitted
        '403':
          description: Unknown trainee ID
        '404':
          description: LTFT application not found with matching ID, or requested LTFT application does not belong to the user
  /trainee/cct/calculation:
    get:
      summary: Return all CCT Calculations for the authenticated user.
      operationId: getCctCalculations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CctCalculationDetail'
        '403':
          description: Unknown trainee ID
    post:
      summary: Save a new CCT Calculation.
      operationId: createCctCalculation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CctCalculationDetail'
        required: true
      responses:
        '201':
          description: Created
          headers:
            location:
              description: The location of the created calculation
              schema:
                type: string
                format: uri
                example: /api/trainee/cct/calculation/1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CctCalculationDetail'
        '400':
          description: Calculation invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/cct/calculator
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/id'
                            detail:
                              example: must be null
        '403':
          description: Unknown trainee ID
  /trainee/cct/calculation/{calculationId}:
    get:
      summary: Return the CCT Calculation with the given ID.
      operationId: getCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CctCalculationDetail'
        '403':
          description: Unknown trainee ID, or requested calculation does not belong to the user
        '404':
          description: Calculation not found with matching ID
    put:
      summary: Update an existing CCT calculation.
      operationId: updateCctCalculation
      parameters:
        - name: calculationId
          description: The ID of the calculation
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CctCalculationDetail'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CctCalculationDetail'
        '400':
          description: Calculation invalid
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - properties:
                      instance:
                        example: /api/trainee/cct/calculator
                      errors:
                        items:
                          properties:
                            pointer:
                              example: '#/name'
                            detail:
                              example: must not be null
        '403':
          description: Unknown trainee ID
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    FormStatus:
      type: string
      enum:
        - DRAFT
        - SUBMITTED
        - UNSUBMITTED
        - WITHDRAWN
        - APPROVED
        - REJECTED
      readOnly: true
    LtftApplicationSummary:
      type: object
      readOnly: true
      properties:
        id:
          type: string
          format: uuid
          example: fc13458c-5b0b-442f-8907-6f9af8fc0ffb
        name:
          description: A custom reference for the LTFT application to aid identification.
          type: string
          example: My Programme - Hours Reduction
        programmeMembershipId:
          type: string
          format: uuid
          example: 2861fb68-6c08-4af5-a3a1-6f561a37b406
        status:
          $ref: '#/components/schemas/FormStatus'
        created:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
    CctChange:
      type: object
      required:
        - type
        - startDate
      properties:
        id:
          type: string
          format: uuid
          example: b2f8df7b-82f6-413f-8265-35a008d6b53b
          readOnly: true
        type:
          type: string
          enum:
            - LTFT
            - PARENTAL_LEAVE
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
          minimum: 0
          maximum: 1
    PersonalDetails:
      type: object
      required:
        - id
        - title
        - forenames
        - surname
        - email
        - skilledWorkerVisaHolder
      properties:
        id:
          type: string
          description: The person/trainee ID.
          pattern: \d{1,7}
        title:
          type: string
          example: Mr
        forenames:
          type: string
          example: Anthony
        surname:
          type: string
          example: Gilliam
        telephoneNumber:
          type: string
          example: 0161 4960000
        mobileNumber:
          type: string
          example: 07700 900000
        email:
          type: string
          format: email
          example: anthony.gilliam@example.com
        gmcNumber:
          type: string
          pattern: \d{7}
        gdcNumber:
          type: string
          pattern: D\d{6}
        skilledWorkerVisaHolder:
          type: boolean
    CctProgrammeMembership:
      type: object
      required:
        - id
        - name
        - startDate
        - endDate
        - wte
      properties:
        id:
          type: string
          format: uuid
          example: 2861fb68-6c08-4af5-a3a1-6f561a37b406
        name:
          type: string
          example: General Practice
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        wte:
          type: number
          format: percent
          minimum: 0
          maximum: 1
    LtftApplicationDetail:
      type: object
      required:
        - name
        - programmeMembership
      properties:
        id:
          type: string
          format: uuid
          example: fc13458c-5b0b-442f-8907-6f9af8fc0ffb
          readOnly: true
        name:
          description: A custom reference for the LTFT application to aid identification.
          type: string
          example: My Programme - Hours Reduction
        change:
          allOf:
            - required:
                - calculationId
                - cctDate
            - properties:
                calculationId:
                  type: string
                  format: uuid
                cctDate:
                  type: string
                  format: date
            - $ref: '#/components/schemas/CctChange'
        declarations:
          required:
            - discussedWithTpd
            - informationIsCorrect
            - notGuaranteed
          properties:
            discussedWithTpd:
              type: boolean
              description: Confirmation that the requested change has been discussed with their TPD.
            informationIsCorrect:
              type: boolean
              description: Confirmation that all information given is correct.
            notGuaranteed:
              type: boolean
              description: Understands that LTFT approval is not guaranteed.
        discussions:
          type: object
          required:
            - tpdName
            - tpdEmail
          properties:
            tpdName:
              type: string
              example: T. P. Dee
            tpdEmail:
              type: string
              format: email
              example: t@p.dee
            other:
              type: array
              items:
                type: object
                required:
                  - name
                  - email
                  - role
                properties:
                  name:
                    type: string
                    example: A. N. Other
                  email:
                    type: string
                    format: email
                    example: a.n.other@example.com
                  role:
                    type: string
                    example: Educational Supervisor
        personalDetails:
          $ref: '#/components/schemas/PersonalDetails'
        programmeMembership:
          $ref: '#/components/schemas/CctProgrammeMembership'
        reasons:
          type: object
          properties:
            selected:
              type: array
              items:
                type: string
                example: other reason
            otherDetail:
              type: string
              example: my other reason
        status:
          type: object
          readOnly: true
          properties:
            current:
              $ref: '#/components/schemas/FormStatus'
            history:
              type: array
              items:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/FormStatus'
                  timestamp:
                    type: string
                    format: date-time
        created:
          type: string
          format: date-time
          readOnly: true
        lastModified:
          type: string
          format: date-time
          readOnly: true
    ValidationError:
      type: object
      readOnly: true
      properties:
        type:
          type: string
          example: about:blank
        title:
          type: string
          example: Validation failure
        status:
          type: integer
          example: 400
        instance:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              pointer:
                type: string
              detail:
                type: string
    CctCalculationDetail:
      type: object
      required:
        - name
        - programmeMembership
        - changes
      properties:
        id:
          type: string
          format: uuid
          example: fc13458c-5b0b-442f-8907-6f9af8fc0ffb
          readOnly: true
        name:
          description: A custom name for the calculation to aid identification.
          type: string
          example: Parental leave + reduced hours
        cctDate:
          description: Indicative CCT date
          type: string
          format: date
          readOnly: true
        programmeMembership:
          $ref: '#/components/schemas/CctProgrammeMembership'
        changes:
          type: array
          items:
            $ref: '#/components/schemas/CctChange'
        created:
          type: string
          format: date-time
          readOnly: true
        lastModified:
          type: string
          format: date-time
          readOnly: true
